/* src/app/_component/burger/burger.module.css */
.nav_mode {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  margin-right: 30px;
}

.dark-mode .nav_mode {
  background: var(--dark_A-color) !important;
}

.nav_links li {
  margin-right: 20px;
}

.burger {
  cursor: pointer;
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--dark-color);
  margin: 5px;
  transition: transform 0.3s;
}

.nav_active {
  transform: translateX(0%) !important;
}
/*下線*/
.nav_links li {
  position: relative;
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  font-size: 18px;
}

.nav_links li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: currentColor; /* 現在の色を使用 */
  transition: width 0.3s ease, left 0.3s ease;
}

.nav_links li:hover::after {
  width: 100%;
  left: 0;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .nav_mode {
    background-color: rgba(100, 150, 150, 0.7);
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-left: auto;
  }
  .nav_links {
    position: absolute;
    right: 0;
    height: 95vh;
    top: 60px;
    width: 30%;
    transform: translateX(100%);
    margin-right: 0;
  }
  .nav_links li {
    opacity: 1;
    margin-top: 5vh;
    font-size: 1.3rem;
  }

  .burger {
    display: block;
    padding-top: 10px;
    transition: all 0.5s ease-in-out;
    margin-right: 30px;
  }

  .toggle .line1 {
    transform: rotate(-405deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
