/* src/app/global.css */
html {
  font-size: 100%; /* 16px*0.9 */
}

:root {
  --white-color: #ffffff;
  --white_A-color: #002951;
  --dark-color: #292929;
  --dark_A-color: #000000;
  --Accent-color: #007272;
  --Accent-Light-color: #82c2c2;
}

body {
  background-color: var(--dark-color);
  color: var(--white-color);
  font-family: "Sawarabi Mincho";
  transition: all 0.5s ease-out;
}

.light-mode {
  background-color: var(--white-color);
  color: var(--dark-color);
}

.light-mode #header {
  background: var(--white_A-color);
  color: var(--white-color);
}

.light-mode #blog dt,
.light-mode #blog dd {
  border-bottom-color: var(--dark-color);
}

.light-mode #blog dl {
  border-top-color: var(--dark-color);
}
.light-mode #creation ul li {
  border: 1px solid var(--dark_A-color);
}

.light-mode #creation .btn,
.light-mode #blog .btn {
  border-color: var(--dark-color);
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}
h1 {
  margin-left: 50px;
  font-size: 2rem !important;
}
h2 {
  font-size: 2.5rem !important;
  text-align: center;
}
h3 {
  font-size: 1rem !important;
  margin: 30px 7px 20px 7px !important;
}

h4 {
  position: relative;
  font-size: 1.5rem !important;
  margin: 50px 0 15px 0 !important;
  padding-left: 2em; /* 肉球のサイズに合わせて調整 */
  line-height: 2 !important;
  border-bottom: double 5px var(--Accent-color);
  /*display: inline-block;*/
}
h4:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 25px;
  background: var(--Accent-color); /* 中央の肉球部分の色 */
  border-radius: 50%;
  top: 10px;
  left: 0;
}
h4:after {
  content: "";
  position: absolute;
  height: 9px;
  width: 6px;
  background: rgba(255, 255, 255, 0); /* 肉球の周りの枠線 */
  border-radius: 50%;
  top: 8px;
  left: 8px;
  box-shadow: -12px -3px 0 0 var(--Accent-color),
    -3px -10px 0 0 var(--Accent-color), 7px -10px 0 0 var(--Accent-color),
    16px -3px 0 0 var(--Accent-color);
}

img {
  max-width: 100%;
}

li {
  list-style: none;
  font-size: 1.1rem;
}

ul {
  padding-inline-start: 0;
}

span {
  color: var(--Accent-color);
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  font-size: 0.9rem;
  padding: 1% 5%;
}

.sec-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
}

#header {
  z-index: 2;
}

/*main*/
#main {
  margin-top: 80px;
  z-index: 1;
}

#main img {
  margin-top: 0;
  width: 100%;
  margin-bottom: 70px;
  max-width: 1920px;
  height: 500px;
  object-position: 50% 20%;
  object-fit: cover;
}

/*about*/
#about {
  margin-bottom: 70px;
}

#about ul {
  margin-bottom: 40px;
}

#about ul li:first-child {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

#about ul li {
  margin-bottom: 5px;
}

#about li span {
  color: var(--Accent-color);
  font-size: 2rem;
  font-weight: 700;
}

/*creation*/
#creation {
  margin-bottom: 70px;
}

#creation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2%;
  margin-bottom: 40px;
}

#creation ul li {
  width: 32%;
  height: 310px;
  margin-bottom: 50px;
  border: 0.5px solid var(--white-color);
  transition: all 0.3s;
}
#creation ul li a div {
  margin: 11px;
}

#creation ul li img {
  width: 100%;
  height: auto;
  margin-bottom: -13px;
}

#creation ul li:hover {
  transform: scale(1.05, 1.05);
  border-radius: 20px;
  border: 3px solid var(--Accent-Light-color);
  opacity: 0.7;
  img {
    transform: scale(1.015, 1.015);
    border-radius: 20px 20px 0 0;
  }
}

#creation ul li p {
  width: 94%;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 3% 3% 2% 3%;
}

#creation .btn_a {
  width: 80%;
  margin: 0 auto;
  display: block;
}
#creation .btn {
  text-align: center;
  border: 1px solid var(--white-color);
  padding: 10px 0;
  transition: all 0.5s;
}
#creation .btn_txt {
  position: relative;
  padding-right: 20px;
}
#creation .btn:hover {
  background-color: var(--Accent-color);
  color: var(--white-color);
}

/*blog*/
#blog dl {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--white-color);
  margin-bottom: 40px;
}

#blog dl a {
  display: flex;
  width: 100%;
  color: inherit;
}

#blog dt,
#blog dd {
  border-bottom: 1px solid var(--white-color);
  padding: 30px;
}

#blog dt {
  width: 20%;
}

#blog dd {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#blog dl a:hover {
  background-color: var(--Accent-Light-color);
  color: var(--Accent-color);
}

#blog p {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

#blog .btn_a {
  width: 80%;
  margin: 0 auto;
  display: block;
}
#blog .btn {
  text-align: center;
  border: 1px solid var(--white-color);
  padding: 10px 0;
  transition: all 0.5s;
}
#blog .btn_txt {
  position: relative;
  padding-right: 20px;
}
#blog .btn:hover {
  background-color: var(--Accent-color);
  color: var(--white-color);
}

/*sp*/
@media screen and (max-width: 768px) {
  html {
    font-size: 80%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .I {
    margin-top: 10px;
  }

  /*header*/
  .header {
    height: 60px;
    line-height: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .burger {
    display: block;
    padding-top: 10px;
    transition: all 0.5s ease-in-out;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(405deg) translate(-5px, -6px);
  }

  .header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }

  #main {
    margin-top: 60px;
  }
  #main picture img {
    margin-bottom: 30px;
    height: 30vh;
  }
  /*creation*/
  #creation ul {
    flex-direction: column;
    margin-bottom: 0;
  }

  #creation ul li {
    width: 100%;
    height: 100px;
  }
  #creation ul li a {
    display: flex;
  }
  #creation ul li a div {
    margin-top: -18px;
    width: 70%;
  }

  #creation ul li img {
    height: 98px;
    width: 30%;
  }

  #creation ul li p {
    margin: 2% 3% 2% 3%;
  }

  #creation ul li:hover {
    transform: scale(1.01, 1.01);
    border-radius: 20px;
    border: 1px solid var(--Accent-Light-color);
    opacity: 0.7;
    img {
      border-radius: 20px 0 0 20px;
    }
  }

  /*blog*/
  #blog a {
    flex-direction: column;
  }

  #blog dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }

  #blog dd {
    width: 100%;
    border-top: none;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
