/* src/spp/_component/mode/modeToggle.module.css */
.mode {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--white-color);
}

.mode:hover {
  color: var(--Accent-color);
}

.dark-mode .nav_mode {
  background: var(--white_A-color) !important;
}
